<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('../head'); %>
</head>

<body>
    <%- include('../header'); -%>
        <main class="container">
            <div class="container mt-2">
                <% if (success && Object.keys(success).length> 0) { %>
                    <div class="alert alert-success" role="alert">
                        <%= success %>
                    </div>
                    <% } %>
                        <% if (error && Object.keys(error).length> 0) { %>
                            <div class="alert alert-danger" role="alert">
                                <%= error %>
                            </div>
                            <% } %>
            </div>

            <h1 class="mb-4 mt-2">Categories</h1>
            <div class="container mt-5">
                <a href="/category-create" type="button" class="btn btn-secondary">Create</a>
                <table class="table table-striped mt-3">
                    <thead>
                        <tr>
                            <th scope="col">№</th>
                            <th scope="col">Name</th>
                            <th scope="col">Product</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i < categories.length; i++) { %>
                            <tr>
                                <th scope="row">
                                    <%= i+1 %>
                                </th>
                                <td>
                                    <%= categories[i].categoryName %>
                                </td>
                                <td>
                                    <a href="/products/<%= categories[i]._id %>">View Products</a>
                                </td>
                                <td>
                                    <a href="/category-update/<%= categories[i]._id %>" type="button"
                                        class="btn btn-warning rounded-pill px-3 rounded-pill px-3">Update</a>
                                    <a href=" /category-delete/<%=categories[i]._id %>"
                                        onclick="return confirm('Are you sure you want to delete this item?');"
                                        type="button"
                                        class="btn btn-danger rounded-pill px-3 rounded-pill px-3">Delete</a>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>
        </main>
        <%- include('../footer'); -%>
</body>

</html>