<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('../head'); %>
</head>

<body>
    <%- include('../header'); -%>
        <main class="container">
            <h1 class="mt-2">
                <%= category.categoryName %>
            </h1>
            <button onclick="location.href='/categories'"
                style="margin-bottom: 12px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"
                class="btn btn-info rounded-pill px-3" type="button">Go back</button>
            <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
                <% products.forEach((product)=> { %>
                    <div class="col">
                        <div class="col-12 row justify-content-center mt-2"></div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= product.productName %>
                                </h5>
                                <p class="card-text"><strong>Description :</strong>
                                    <%= product.productDescription %>
                                </p>
                                <p class="card-text"><strong>Price :</strong>
                                    <%= product.productPrice %>€
                                </p>
                                <p class="card-text"><strong>Category :</strong>
                                    <%= category.categoryName %>
                                </p>
                            </div>
                        </div>
        </main>
        </div>
        </div>
        </div>
        <% }); %>
            </div>
            </main>
            <%- include('../footer'); -%>
</body>

</html>